

.container-main{
   top: 0;
    height:10vh;
    display: flex;
    width: 100%;
    overflow: hidden;
    background-color: #102B3F;
    align-items: center;
    justify-content: center;
    animation-fill-mode: forwards;
    animation-name: closed;
    animation-duration: 1s;
    z-index: 1;
    position: absolute;
}
.img-name{
    display: flex;
justify-content: space-around;
    align-items: center;
    width: 15%;   
    color: #Fff;
    height: 100%;
  
}
.img-name > .img{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
       
}
.img-name>.img>img{
    height: 60%;
}
.connection{
    display: flex;
    width: 85%;
    justify-content: space-around;
}
.connection>.options{
width: 80%;
display: flex;
justify-content: center;
align-items: center;
color: #fff;
}
.connection>.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.btn>.logout{
    background-color: transparent;
    color: #fff;
    outline: none;
    border: none;
   font-size: 15px;
   height: 50px;

}
.open{
   background-color: transparent;
   color: #fff;
   border: none;
   outline: none;  
   position: absolute;
   font-size: 30px;
  top: 10px;
  
}
.open>svg{
    animation-name: arow;    
  animation-duration: 1s;
}
.animation{
    animation-fill-mode: forwards;
    animation-name: open;
    animation-duration: 1s;
}
.animationreverse{
    animation-fill-mode: forwards;
    animation-name: open;
    animation-duration: 1s;
}

.container-content{
   
    z-index: 0;
    height: 80vh;
    margin-top: 10vh;
    display:flex;
    justify-content: center;
    align-items: center;
    

    
}

.textarea{
    height: 100%;
    width: 80%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-content>.users-online{
    text-align: center;
    box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.397);
    width:20%;
    height:100%; 
    padding-top: 20vh;   
    display: flex;
    justify-content: center;
    align-items: top;
   overflow-y: auto;
   overflow-x: hidden;
   
}
.container-content>.users-online>ul{
    padding: 30px;
    
}

.container-content>.users-online>ul>li{
    padding: 15px;
    margin: 10px;
    list-style: none;
    color: #102B3F;
    font-size: 20px;
    border-bottom: 1px solid green;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.rocket{
    height: 50px;
    width: 80px;
    }

.textarea > ul{
    width: 90%;
    height: 100%;
    overflow-y: auto;
    margin-top: 15px;

    

}

.chatProfile1 {      
    background-color: rgba(222, 236, 236, 0.596);
   margin: 20px 20px 0px 20px;
    padding:30px;
    list-style: none;
    text-align: right;
    border-radius: 30px;
    overflow-wrap: break-word;
   
  }
  .chatProfile2{
    text-align: left;
    background-color:rgba(219, 208, 208, 0.219);    
    margin: 20px 20px 20px 0px;
    padding:30px;
    list-style: none; 
    border-radius: 30px;
    overflow-wrap: break-word;   
  }

.container-footer{
    width: 80%;
    margin-left: auto;
     height: 7vh;
     margin-top: 20px;
    
}
.btn>.logout:active{
    color: rgba(255, 255, 255, 0.342);
}

.container-footer{
    display: flex;
    justify-content: center;
    align-items: center;

}

.inputmsg{
    height: 45px;
    width: 70%;
    border: 1px solid #102B3F;
    margin-right: 10px;  
    outline: none;
    border-radius: 30px;
    text-align: center;
    font-size: 15px;
}

.send{
    outline: none;
    width: 100px;     
    border-radius: 30px;
    height: 45px;
    background-color:  #102B3F;
    border: none;
}
.send > img{
    height: 100%;
    width:100%
    
}
.send:active{
    background-color: #fff;
    
}

.options{
   
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.input{
width: 40%;
margin: 10px;
padding: 10px;
border-radius: 30px;
border: 1px solid #fff;
background-color: transparent;
color: #fff;
text-align: center;
outline: none;

}
.btnmain{
    width: 30%;
    outline: none;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding:10px;
    border-radius: 30px;
}
.btnmain:active{
    background-color: #fff;
    color: #102B3F;
    
}









@keyframes open{
    from{
opacity: 0;
    }
    to{
        opacity: 1;
        height:30vh;  
    }
}
@keyframes closed{
    from{
        opacity: 0;
        height:30vh;
    }
    to{
        opacity: 1;
        height:10vh;  
    }
}
@keyframes arow{
    from{
opacity: 0;
    }
    to{
opacity: 1;
    }
}