.container{   
    min-height:100vh;
    height: 100%;
    background: linear-gradient(to top, rgba(222, 236, 236, 0.596) -50%,  #144781 90%);
    display: flex;
    justify-content: center;
    align-items: center;   
}
.container-box{
    height: 500px;
    width: 25%;
    min-width: 400px;
    min-height: 500px;
    background-color: #ffffff;
    border-radius: 30px 30px 30px 30px;
    overflow: hidden;
    z-index: 1;
}
.text-footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #fff;
    margin: 15px;
    font-weight: 100;
    z-index: 0;    
}
.remember{
      border: none;
    width: 100%;
    height: 50px; 
       background-color:#A63A50;
    color: #fff;
    outline: none;   
   text-align: center;   
}    
.register{  
    border: none;  
        width: 100%;
        height: 50px;
        background-color:#A63A50;
        color: #fff;
        outline: none;       
}
.container-box > .form{
  height:400px;
}
.container-box > .form{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container-box > .form > h1{
    text-align: center;    
}
.container-box>.form>input{
    border: none;
  border-bottom: 1px solid #A63A50;
  border-radius: 5px;
    text-align: center;
    width: 100%;
     height: 50px;
     margin: 0px 50px 0px 50px;
     outline: none;
     font-size: 15px;
}
.container-box>.form>button{
    outline: none;
    border-radius: 5px;
    background-color:#A63A50;
        color: #fff;
        border: none;
   height: 40px;
   width: 100px;
}
.container-box>.form>input:hover{
    border-bottom: 1px solid red;
}
.container-box>button:hover{
    animation-name: slow;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.btnsubmit:hover{
    animation-name: slowbtn;   
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.alert{
   color:red;
   margin: 0px; 
     padding: 15px;
     padding: 0px;  
}
.loading{
    height: 70px;
    width: 70px;
    position:absolute;
    visibility: hidden;
}


 @keyframes slow{
     from {

     }
     to{
        background-color:red;
        
     }
 }

 
 @keyframes slowbtn{
    from {

    }
    to{
        width: 150px;
       background-color:red;
       
    }
}

 
